.body, html {
    background-color: #000000;
    font-family: 'Courier New', Courier, monospace;
    color: #f6f6f6;
    font-size: 14px;
}

a {
    color: #f6f6f6;
    text-decoration: none;
    opacity: .33;
    transition: opacity 1.5s;
    font-weight: bold;
}

a:hover {
    opacity: 1;
}

a:visited {
    text-decoration: none;
}

.layers {
    position: relative;
}

.allcontent {
    position: absolute;
    margin-top: 40px;
    width: 100%;
}

.topnav {
    margin-top: 14px;
    width: 70rem;
    max-width: 70rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
}

.subnav {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.navitem {
    padding-left: 3rem;
}

.navitem_t {
    font-weight: bold;
}


.galaxia {
    display: flex; 
    flex-direction: row;
    justify-content: center;
    margin-right: auto;
    margin-left: auto;
}

#galaxia {
    opacity: 0;
    transition: opacity 3s; 
}
  
#galaxia.fade {
    opacity: 1;
}

#galaxia.disp {
    display: none;
}

.quote {
    width: 30rem;
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
}

.author_t {
    width: 100%;
    text-align: right;
}

#quote {
    opacity: 0;
    transition: opacity 1.5s; 
}

#quote.fade {
    opacity: 1;
}

#quote.disp {
    display: none;
}

.leave {
    width: 10rem;
    height: 30px;
    max-height: 30px;
    margin-top: 60px;
    border-radius: 15px;
    border: 2px solid;
    border-color: #f6f6f6;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}

.leave_e {
    width: 10rem;
    height: 30px;
    max-height: 30px;
    margin-top: 60px;
    border-radius: 15px;
    border: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}

.leave_t {
    width: 100%;
    text-align: center;
    align-self: center;
    font-weight: bold;
    font-size: 14px;
    text-align: center;
}

.leave_t_e {
    width: 100%;
    background-color: #f6f6f6;
    color: #000000;
    text-align: center;
    align-self: center;
    font-weight: bold;
}

#leave {
    opacity: 0;
    transition: opacity 1.5s; 
}
  
#leave.fade {
    opacity: 1;
}

#leave.disp {
    display: none;
}

.form {
    position: relative;
    width: 30rem;
    align-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
}

#form {
    opacity: 0;
    transition: opacity 1.5s; 
}

#form.fade {
    opacity: 1;
}

#form.show {
    display: none;
}

.formContent {
    width: 100%;
    position: absolute;
    background-color: #000;
}

#formContent {
    opacity: 1;
    transition: opacity 1.5s; 
}

#formContent.fade {
    opacity: 0;
}

.formStar {
    width: 100%;
    position: absolute;
    align-content: center;
}

input {
    width: 100%;
    height: 30px;
    background-color: #000;
    border-bottom: 2px solid;
    border-top: none;
    border-left: none;
    border-right: none;
    border-color: #f6f6f6;
    color: #f6f6f6;
    font-family: 'Courier New', Courier, monospace;
}

.submit {
    width: 10rem;
    height: 34px;
    max-height: 34px;
    margin-top: 60px;
    border-radius: 15px;
    border: 2px solid;
    border-color: #f6f6f6;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    padding-left: 2.5rem;
}

.zero_t {
    width: 100%;
    text-align: center;
    opacity: 0;
}

.star_t {
    width: 100%;
    text-align: center;
    font-size: 10px;
}

.starAnimate {
    position: absolute;
    width: 100%;
}

#starAnimate {
    padding-top: 680px;
    opacity: 0;
    transition: padding-top 2s, 
        opacity 1.5s; 
}

#starAnimate.rise {
    padding-top: 308px;
}

#starAnimate.show {
    display: none;
}

#starAnimate.fade {
    opacity: 1;
}

.seeyou {
    padding-top: 60px;
}

#seeyou {
    opacity: 0;
    transition: opacity 1.5s;
}

#seeyou.fade {
    opacity: 1;
}

#seeyou.show {
    display: none;
}

.seeyou_t {
    width: 100%;
    text-align: center;
    line-height: 3rem;
}

.reset {
    width: 10rem;
    height: 30px;
    max-height: 30px;
    margin-top: 60px;
    border-radius: 15px;
    border: 2px solid;
    border-color: #f6f6f6;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}

.reset:hover {
    background-color: rgba(255, 255, 255, .26);
}

.leave:hover {
    background-color: rgba(255, 255, 255, .26);
}

.submit:hover {
    background-color: rgba(255, 255, 255, .26);
}

input:focus, textarea:focus {
    outline: none;
}

pre {
    display:inline-block;
    text-align:center;
    letter-spacing:5px;
    line-height:10px;
    font-size:9px;
    font-weight:bold;
    background:#000000;
}

.g_t {
    display:inline-block;
    text-align:center;
    letter-spacing:5px;
    line-height:10px;
    font-size:9px;
    font-weight:bold;
    background:#000000;
}

.subbut{
    text-align: center;
}

@media screen and (max-width: 480px) {

    .body, html {
        font-size: 14px;
        margin: 16px;
    }

    .g_t {
        letter-spacing:3px;
        line-height:6px;
        font-size:5.5px;
        text-align: center;
    }

    .galaxia {
        margin-left: auto;
        margin-right: auto;
    }

    .quote {
        margin-top: 45px;
        width: 100%;
    }

    .form {
        width: 100%;
        margin-top: 30px;
    }

    .leave {
        width: 75%;
        height: 45px;
        max-height: 45px;
        border-radius: 22px;
        margin-top: 60px;
    }

    .leave_e {
        width: 75%;
        height: 45px;
        max-height: 45px;
        border: none;
        margin-top: 60px;
    }

    .submit {
        width: 75%;
        height: 45px;
        max-height: 45px;
        border-radius: 22px;
        margin-top: 30px;
        padding-left: 30%;
    }

    .reset {
        width: 75%;
        height: 45px;
        max-height: 45px;
        border-radius: 22px;
        margin-top: 30px;
    }

    #staranimate {
        padding-top: 448px;
    }

    #staranimate.rise {
        padding-top: 210px;
    }

    .star_t {
        font-size: 10px;
    }

}

@media screen and (max-width: 375px) {
    .submit {
        padding-left: 28%;
    }
}